In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
obj = pd.Series([4,7,-9,5])
obj

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([45,6,8,9,12,34,6],index=['a','b','c','x','y','z','g'])
obj2

In [7]:
obj2['g']

6

In [8]:
obj2['g'] = 222

In [9]:
obj2['g']

222

In [10]:
obj2

In [12]:
obj2[obj2>10]

In [13]:
sdata = {'Warszawa':45120,'Kraków':38070,'Lublin':38450,'Gdańsk':34560}
obj3 = pd.Series(sdata)
obj3

In [14]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [15]:
pd.isnull(obj4)

In [16]:
obj3+obj4

In [17]:
data = {'miasta':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasta,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [20]:
frame2 = pd.DataFrame(data,columns=['rok','miasta','pop','wsp'], index=['jeden','dwa','trzy','cztery','pięć','sześć'])
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [21]:
frame2['miasta']

In [22]:
frame2.rok

In [23]:
frame2['wsp'] = 9.99
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,9.99
dwa,2018,Warszawa,2.75,9.99
trzy,2019,Warszawa,3.05,9.99
cztery,2018,Kraków,0.85,9.99
pięć,2019,Kraków,0.90,9.99
sześć,2020,Kraków,1.01,9.99

In [28]:
frame2['wsp'] = np.array([45,24,1,4,67,3])
# frame2['wsp'] = np.arange(6.)
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,45
dwa,2018,Warszawa,2.75,24
trzy,2019,Warszawa,3.05,1
cztery,2018,Kraków,0.85,4
pięć,2019,Kraków,0.90,67
sześć,2020,Kraków,1.01,3