In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
obj = pd.Series([4,7,-9,5])
obj

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([45,6,8,9,12,34,6],index=['a','b','c','x','y','z','g'])
obj2

In [7]:
obj2['g']

6

In [8]:
obj2['g'] = 222

In [9]:
obj2['g']

222

In [10]:
obj2

In [12]:
obj2[obj2>10]

In [13]:
sdata = {'Warszawa':45120,'Kraków':38070,'Lublin':38450,'Gdańsk':34560}
obj3 = pd.Series(sdata)
obj3

In [14]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [15]:
pd.isnull(obj4)

In [16]:
obj3+obj4

In [17]:
data = {'miasta':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasta,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [20]:
frame2 = pd.DataFrame(data,columns=['rok','miasta','pop','wsp'], index=['jeden','dwa','trzy','cztery','pięć','sześć'])
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [21]:
frame2['miasta']

In [22]:
frame2.rok

In [23]:
frame2['wsp'] = 9.99
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,9.99
dwa,2018,Warszawa,2.75,9.99
trzy,2019,Warszawa,3.05,9.99
cztery,2018,Kraków,0.85,9.99
pięć,2019,Kraków,0.90,9.99
sześć,2020,Kraków,1.01,9.99

In [28]:
frame2['wsp'] = np.array([45,24,1,4,67,3])
# frame2['wsp'] = np.arange(6.)
frame2

,rok,miasta,pop,wsp
jeden,2017,Warszawa,2.70,45
dwa,2018,Warszawa,2.75,24
trzy,2019,Warszawa,3.05,1
cztery,2018,Kraków,0.85,4
pięć,2019,Kraków,0.90,67
sześć,2020,Kraków,1.01,3

In [33]:
daty = pd.date_range("20231113",periods=6)
daty

DatetimeIndex(['2023-11-13', '2023-11-14', '2023-11-15', '2023-11-16',
               '2023-11-17', '2023-11-18'],
              dtype='datetime64[ns]', freq='D')

In [34]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2023-11-13,0.026065,1.554481,0.948711,0.980413
2023-11-14,0.279969,1.469701,-0.849296,-0.698244
2023-11-15,-0.425275,0.020749,-0.861462,-0.326343
2023-11-16,0.606433,-2.295831,-0.500481,-1.368761
2023-11-17,0.148583,-0.432161,-0.225734,1.596200
2023-11-18,-0.220552,-0.090100,0.675623,-2.224991

In [35]:
fr.head(3)

,A,B,C,D
2023-11-13,0.026065,1.554481,0.948711,0.980413
2023-11-14,0.279969,1.469701,-0.849296,-0.698244
2023-11-15,-0.425275,0.020749,-0.861462,-0.326343

In [36]:
fr.to_numpy()

In [37]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.069204,0.037807,-0.135440,-0.340288
std,0.365969,1.416616,0.776056,1.430554
min,-0.425275,-2.295831,-0.861462,-2.224991
25%,-0.158898,-0.346646,-0.762092,-1.201132
50%,0.087324,-0.034676,-0.363108,-0.512293
75%,0.247122,1.107463,0.450284,0.653724
max,0.606433,1.554481,0.948711,1.596200

In [38]:
fr.T

,2023-11-13,2023-11-14,2023-11-15,2023-11-16,2023-11-17,2023-11-18
A,0.026065,0.279969,-0.425275,0.606433,0.148583,-0.220552
B,1.554481,1.469701,0.020749,-2.295831,-0.432161,-0.090100
C,0.948711,-0.849296,-0.861462,-0.500481,-0.225734,0.675623
D,0.980413,-0.698244,-0.326343,-1.368761,1.596200,-2.224991

In [39]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2023-11-13,0.980413,0.948711,1.554481,0.026065
2023-11-14,-0.698244,-0.849296,1.469701,0.279969
2023-11-15,-0.326343,-0.861462,0.020749,-0.425275
2023-11-16,-1.368761,-0.500481,-2.295831,0.606433
2023-11-17,1.596200,-0.225734,-0.432161,0.148583
2023-11-18,-2.224991,0.675623,-0.090100,-0.220552

In [40]:
fr.sort_values(by='B')

,A,B,C,D
2023-11-16,0.606433,-2.295831,-0.500481,-1.368761
2023-11-17,0.148583,-0.432161,-0.225734,1.596200
2023-11-18,-0.220552,-0.090100,0.675623,-2.224991
2023-11-15,-0.425275,0.020749,-0.861462,-0.326343
2023-11-14,0.279969,1.469701,-0.849296,-0.698244
2023-11-13,0.026065,1.554481,0.948711,0.980413